@import "../variables/breakpoint";
// $xl: 1600px;
// $lg: 1200px;
// $md: 992px;
// $sm: 768px;
// $xs: 556px;

@mixin vertical-productbox-column($grid-column: 5, $width: 50%, $padding: 0 7.5px) {
    display: block;
    width: $width;
    padding: 7.5px;
    width: 50%;

    @media(min-width: $sm) {
        @if($padding == 0) {
            width: calc(33% + 1px);
            margin-right: -1px;
            padding: $padding;
        }
        @else {
            width: 33%;
        }
    }

    @media(min-width: $lg) {
        @if($padding == 0) {
            width: calc(100%/$grid-column + 1px);
            margin-right: -1px;
        }
        @else {
            width: 100%/$grid-column;
        }
    }
}
