@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?fq4i97');
    src: url('../fonts/icomoon.ttf?fq4i97') format('truetype'), url('../fonts/icomoon.woff?fq4i97') format('woff'), url('../fonts/icomoon.eot?fq4i97#iefix') format('embedded-opentype'), url('../fonts/icomoon.svg?fq4i97#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-Group-5 .path1:before {
    content: "\e906";
}

.icon-Group-5 .path2:before {
    content: "\e907";
}

.icon-Group-5 .path3:before {
    content: "\e90b";
}

.icon-Group-5 .path4:before {
    content: "\e90d";
    margin-left: -1.5595703125em;
    color: rgb(50, 53, 55);
}

.icon-Group-5 .path5:before {
    content: "\e90f";
}

.icon-Group-5 .path6:before {
    content: "\e911";
}

.icon-Group-5 .path7:before {
    content: "\e915";
}

.icon-Group-5 .path8:before {
    content: "\e916";
}

.icon-Group-5 .path9:before {
    content: "\e917";
}

.icon-LinkedIn:before {
    content: "\e919";
}

.icon-Rectangle-4017-Stroke:before {
    content: "\e91f";
}

.icon-shape-Stroke:before {
    content: "\e923";
}

.icon-Subtract:before {
    content: "\e927";
}

.icon-Subtract-1:before {
    content: "\e929";
}

.icon-Union-Stroke:before {
    content: "\e92a";
}

.icon-Union:before {
    content: "\e92b";
}

.icon-Union-1:before {
    content: "\e92c";
}

.icon-Union-2:before {
    content: "\e92d";
}

.icon-Union-3:before {
    content: "\e92e";
}

.icon-Union-4:before {
    content: "\e92f";
}

.icon-Union-5:before {
    content: "\e930";
}

.icon-Union-6:before {
    content: "\e931";
}

.icon-Union-7:before {
    content: "\e937";
}

.icon-Union-8:before {
    content: "\e93e";
}

.icon-Union-11:before {
    content: "\e943";
}

.icon-Union-12:before {
    content: "\e947";
}

.icon-nav:before {
    content: "\e948";
}

.icon-ajax-filter:before {
    content: "\e949";
}

.icon-Union-15:before {
    content: "\e94a";
}

.icon-Union-16:before {
    content: "\e94b";
}

.icon-Union-17:before {
    content: "\e94d";
}

.icon-Union-18:before {
    content: "\e95c";
}

.icon-Union-19:before {
    content: "\e960";
}

.icon-Union-20:before {
    content: "\e963";
}

.icon-Union-21:before {
    content: "\e967";
}

.icon-Union-22:before {
    content: "\e968";
}

.icon-Vector:before {
    content: "\e96f";
}

.icon-Vector-1:before {
    content: "\e971";
}

.icon-Vector-2:before {
    content: "\e972";
}

.icon-Vector-3:before {
    content: "\e976";
}

.icon-Vector-4:before {
    content: "\e977";
}

.icon-Vector-5:before {
    content: "\e978";
}

.icon-Vector-6:before {
    content: "\e979";
}

.icon-Vector-11:before {
    content: "\e97a";
}

.icon-Vector-12:before {
    content: "\e97b";
}

.icon-Vector-13:before {
    content: "\e97e";
}

.icon-Vector-14:before {
    content: "\e97f";
}

.icon-Vector-15:before {
    content: "\e980";
}

.icon-Vector-16:before {
    content: "\e981";
}

.icon-Vector-17:before {
    content: "\e982";
}

.icon-Vector-18:before {
    content: "\e984";
}

.icon-Vector-19:before {
    content: "\e98a";
}

.icon-Vector-20:before {
    content: "\e98b";
}

.icon-Vector-21:before {
    content: "\e993";
}

.icon-Vector-22:before {
    content: "\e994";
}

.icon-Vector-23:before {
    content: "\e995";
}

.icon-Vector-24:before {
    content: "\e998";
}

.icon-Vector-25:before {
    content: "\e99d";
}

.icon-Vector-26:before {
    content: "\e99e";
}

.icon-Vector-27:before {
    content: "\e9a0";
}

.icon-alert:before {
    content: "\e900";
}

.icon-alert-circled:before {
    content: "\e901";
}

.icon-android-add:before {
    content: "\e902";
}

.icon-android-add-circle:before {
    content: "\e903";
}

.icon-android-alarm-clock:before {
    content: "\e904";
}

.icon-android-alert:before {
    content: "\e905";
}

.icon-android-arrow-back:before {
    content: "\e908";
}

.icon-android-arrow-down:before {
    content: "\e909";
}

.icon-android-arrow-dropdown:before {
    content: "\e90a";
}

.icon-android-arrow-dropleft:before {
    content: "\e90c";
}

.icon-android-arrow-dropright:before {
    content: "\e90e";
}

.icon-android-arrow-dropup:before {
    content: "\e910";
}

.icon-android-arrow-forward:before {
    content: "\e912";
}

.icon-android-arrow-up:before {
    content: "\e913";
}

.icon-android-attach:before {
    content: "\e914";
}

.icon-android-bookmark:before {
    content: "\e918";
}

.icon-android-bus:before {
    content: "\e91a";
}

.icon-android-calendar:before {
    content: "\e91b";
}

.icon-android-call:before {
    content: "\e91c";
}

.icon-android-camera:before {
    content: "\e91d";
}

.icon-android-cancel:before {
    content: "\e91e";
}

.icon-android-cart:before {
    content: "\e920";
}

.icon-android-chat:before {
    content: "\e921";
}

.icon-android-checkbox:before {
    content: "\e922";
}

.icon-android-checkbox-outline:before {
    content: "\e924";
}

.icon-android-checkbox-outline-blank:before {
    content: "\e925";
}

.icon-android-checkmark-circle:before {
    content: "\e926";
}

.icon-android-close:before {
    content: "\e928";
}

.icon-android-create:before {
    content: "\e932";
}

.icon-android-delete:before {
    content: "\e933";
}

.icon-android-desktop:before {
    content: "\e934";
}

.icon-android-document:before {
    content: "\e935";
}

.icon-android-done:before {
    content: "\e936";
}

.icon-android-download:before {
    content: "\e938";
}

.icon-android-drafts:before {
    content: "\e939";
}

.icon-android-exit:before {
    content: "\e93a";
}

.icon-android-expand:before {
    content: "\e93b";
}

.icon-android-favorite:before {
    content: "\e93c";
}

.icon-android-favorite-outline:before {
    content: "\e93d";
}

.icon-android-folder:before {
    content: "\e93f";
}

.icon-android-folder-open:before {
    content: "\e940";
}

.icon-android-funnel:before {
    content: "\e941";
}

.icon-android-globe:before {
    content: "\e942";
}

.icon-android-hangout:before {
    content: "\e944";
}

.icon-android-happy:before {
    content: "\e945";
}

.icon-android-home:before {
    content: "\e946";
}

.icon-android-mail:before {
    content: "\e94c";
}

.icon-android-menu:before {
    content: "\e94e";
}

.icon-android-microphone:before {
    content: "\e94f";
}

.icon-android-microphone-off:before {
    content: "\e950";
}

.icon-android-more-horizontal:before {
    content: "\e951";
}

.icon-android-more-vertical:before {
    content: "\e952";
}

.icon-android-navigate:before {
    content: "\e953";
}

.icon-android-notifications:before {
    content: "\e954";
}

.icon-android-notifications-none:before {
    content: "\e955";
}

.icon-android-notifications-off:before {
    content: "\e956";
}

.icon-android-open:before {
    content: "\e957";
}

.icon-android-options:before {
    content: "\e958";
}

.icon-android-people:before {
    content: "\e959";
}

.icon-android-person:before {
    content: "\e95a";
}

.icon-android-person-add:before {
    content: "\e95b";
}

.icon-android-phone-portrait:before {
    content: "\e95d";
}

.icon-android-pin:before {
    content: "\e95e";
}

.icon-android-plane:before {
    content: "\e95f";
}

.icon-android-print:before {
    content: "\e961";
}

.icon-android-radio-button-off:before {
    content: "\e962";
}

.icon-android-refresh:before {
    content: "\e964";
}

.icon-android-remove:before {
    content: "\e965";
}

.icon-android-remove-circle:before {
    content: "\e966";
}

.icon-android-search:before {
    content: "\e969";
}

.icon-android-send:before {
    content: "\e96a";
}

.icon-android-settings:before {
    content: "\e96b";
}

.icon-android-share:before {
    content: "\e96c";
}

.icon-android-share-alt:before {
    content: "\e96d";
}

.icon-android-star:before {
    content: "\e96e";
}

.icon-android-star-outline:before {
    content: "\e970";
}

.icon-android-sunny:before {
    content: "\e973";
}

.icon-android-sync:before {
    content: "\e974";
}

.icon-android-textsms:before {
    content: "\e975";
}

.icon-android-volume-off:before {
    content: "\e97c";
}

.icon-android-volume-up:before {
    content: "\e97d";
}

.icon-archive:before {
    content: "\e983";
}

.icon-arrow-down-b:before {
    content: "\e985";
}

.icon-arrow-down-c:before {
    content: "\e986";
}

.icon-arrow-expand:before {
    content: "\e987";
}

.icon-arrow-graph-down-left:before {
    content: "\e988";
}

.icon-arrow-graph-down-right:before {
    content: "\e989";
}

.icon-arrow-left-a:before {
    content: "\e98c";
}

.icon-arrow-left-b:before {
    content: "\e98d";
}

.icon-arrow-left-c:before {
    content: "\e98e";
}

.icon-arrow-move:before {
    content: "\e98f";
}

.icon-arrow-resize:before {
    content: "\e990";
}

.icon-arrow-return-left:before {
    content: "\e991";
}

.icon-arrow-return-right:before {
    content: "\e992";
}

.icon-arrow-shrink:before {
    content: "\e996";
}

.icon-arrow-swap:before {
    content: "\e997";
}

.icon-arrow-up-b:before {
    content: "\e999";
}

.icon-arrow-up-c:before {
    content: "\e99a";
}

.icon-asterisk:before {
    content: "\e99b";
}

.icon-at:before {
    content: "\e99c";
}

.icon-bag:before {
    content: "\e99f";
}

.icon-calendar:before {
    content: "\e9ae";
}

.icon-chatbox:before {
    content: "\e9b2";
}

.icon-chatboxes:before {
    content: "\e9b3";
}

.icon-chatbubbles:before {
    content: "\e9b6";
}

.icon-checkmark:before {
    content: "\e9b8";
}

.icon-checkmark-circled:before {
    content: "\e9b9";
}

.icon-chevron-down:before {
    content: "\e9bb";
}

.icon-chevron-left:before {
    content: "\e9bc";
}

.icon-chevron-right:before {
    content: "\e9bd";
}

.icon-chevron-up:before {
    content: "\e9be";
}

.icon-ios-arrow-back:before {
    content: "\ea05";
}

.icon-ios-arrow-down:before {
    content: "\ea06";
}

.icon-ios-arrow-forward:before {
    content: "\ea07";
}

.icon-ios-arrow-left:before {
    content: "\ea08";
}

.icon-ios-arrow-right:before {
    content: "\ea09";
}

.icon-ios-arrow-thin-down:before {
    content: "\ea0a";
}

.icon-ios-arrow-thin-left:before {
    content: "\ea0b";
}

.icon-ios-arrow-thin-right:before {
    content: "\ea0c";
}

.icon-ios-arrow-thin-up:before {
    content: "\ea0d";
}

.icon-ios-arrow-up:before {
    content: "\ea0e";
}

.icon-ios-bolt:before {
    content: "\ea17";
}

.icon-ios-bolt-outline:before {
    content: "\ea18";
}

.icon-ios-settings-strong:before {
    content: "\ead3";
}

.icon-link:before {
    content: "\eb0a";
}

.icon-load-a:before {
    content: "\eb0b";
}

.icon-load-b:before {
    content: "\eb0c";
}

.icon-log-in:before {
    content: "\eb12";
}

.icon-more:before {
    content: "\eb23";
}

.icon-navicon-round:before {
    content: "\eb27";
}

.icon-person:before {
    content: "\eb32";
}

.icon-person-add:before {
    content: "\eb33";
}

.icon-pricetags:before {
    content: "\eb44";
}

.icon-printer:before {
    content: "\eb45";
}

.icon-social-facebook:before {
    content: "\eb69";
}

.icon-social-google:before {
    content: "\eb6d";
}

.icon-social-linkedin:before {
    content: "\eb73";
}

.icon-social-linkedin-outline:before {
    content: "\eb74";
}

.icon-social-pinterest:before {
    content: "\eb75";
}

.icon-social-pinterest-outline:before {
    content: "\eb76";
}

.icon-social-skype:before {
    content: "\eb7c";
}

.icon-social-skype-outline:before {
    content: "\eb7d";
}

.icon-social-snapchat:before {
    content: "\eb7e";
}

.icon-social-snapchat-outline:before {
    content: "\eb7f";
}

.icon-social-twitter:before {
    content: "\eb85";
}

.icon-social-twitter-outline:before {
    content: "\eb86";
}

.icon-social-usd:before {
    content: "\eb87";
}

.icon-social-whatsapp:before {
    content: "\eb8b";
}

.icon-social-whatsapp-outline:before {
    content: "\eb8c";
}

.icon-social-youtube:before {
    content: "\eb95";
}

.icon-social-youtube-outline:before {
    content: "\eb96";
}

.icon-tshirt:before {
    content: "\eba9";
}

.icon-tshirt-outline:before {
    content: "\ebaa";
}
