@keyframes slide-up {
    0% {
        transform: translateY(15px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade-in-overlay {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 0.5;
    }
}