@import "../mixins/buttons";
/*all buttons styles*/
.button-1 {
    @include buttons;
    &:hover {
        opacity: 0.9;
    }
}

.button-2 {
    background: var(--secondary-color);
    color: var(--primary-color);
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Lato',sans-serif;

    &:hover {
        color: var(--primary-color);
    }
}