
<style>
    .header-links > ul > li a.ico-pin::before {
        content: "\e95e";
    }
</style>
<li>
    <a href="@Url.RouteUrl("Nop.Plugin.Widgets.StoreLocator")" class="ico-pin">
        <label>
            <span class="wishlist-label faded">Store Locator</span>
            <span class="wishlist-label">Nearby Stores</span>

        </label>
    </a>
</li>
