.html-checkout-page {
    #billing-form {
        background: var(--white);
    }
    
    .billing-address-page {
        .address-list-page {
            top: 20px;
        }

        .address-box {
            background: var(--white);
            padding: 20px 15px;
        }
    }
}
