.shipping-method-page,
.payment-method-page {
    .section {
        box-shadow: none !important;
    }
    
    .method-list {
        li {
            background: var(--white);

            @media (max-width: $xl - 1) {
                width: 100%;
                margin-left: 0;
                margin-right: 0;
            }
        }
    }
}
