.html-order-completed-page:not(.html-home-page) {
    .order-completed-page {
        text-align: center;
        padding: 30px 15px;

        .page-title {
            border: none;
            box-shadow: none !important;
            background: none !important;
            color: var(--primary-color);
            text-align: center;

            h1 {
                font-size: clamp(26px,5vw,30px);
                line-height: clamp(30px,5vw,36px);
                font-style: normal;
                font-weight: 600;
            }

            &::after {
                content: "\e984";
                display: inline-flex;
                justify-content: center;
                align-items: center;
                height: 0;
                width: 0;
                border: 40px solid var(--primary-color);
                border-left-color: var(--primary-color);
                border-bottom-color: var(--primary-color);
                border-radius: 50%;
                @include icon-font-style;
                color: var(--white);
                font-size: 28px;
                opacity: 0.9;
                box-shadow: 0 0 0px 6px var(--white), 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
                margin: 15px auto;
                text-shadow: 2px 0px 4px var(--black);

                @media (min-width: $md) {
                    border-width: 60px;
                    font-size: 36px;
                }
            }
        }

        .title {
            border: none;
            font-style: normal;
            color: var(--primary-color);
            padding: 0;
            margin-bottom: 10px;
        }

        .details {
            > div {
                margin-bottom: 10px;
            }

            .details-link {
                a {
                    color: var(--primary-color);
                    border-bottom: 1px solid var(--primary-color);
                    font-weight: 600;
                }
            }
        }

        .order-completed-continue-button {
            padding: 6px 8px;
            font-size: 14px;
            line-height: 18px;
        }
    }
}
