@import "../../mixins/_buttons.scss";

.compare-products-page {

    .clear-list {
        @include buttons();
        width: 170px;
        margin: 16px auto;
        display: block;

        &::before {
            content: "\e968";
            font-family: "icomoon";
            font-weight: 600;
            padding-right: 10px;
        }
    }

    .remove-button {
        color: var(--white);

        &::before {
            content: "\e995";
            font-family: "icomoon";
            font-weight: 900;
            padding-right: 10px;
            font-size: 10px;
        }
    }

    .table-wrapper {
        overflow-x: auto;
        margin: 15px 0px;

        table {
            width: 100%;
            border-collapse: collapse;
            background-color: var(--white);

            td {
                border: 1px solid var(--primary-grey_light);
                padding: 10px;
                color: var(--black);
                text-align: left;
                min-width: 150px;

                label {
                    margin-bottom: 0;
                }
            }

            tr {
                &:nth-child(even) {
                    background-color: var(--primary-grey_light);
                }
            }
        }
    }
}
