.email-a-friend-page {
    .title {
        margin: 15px auto;

        h2 {
            text-align: center;
            font-size: clamp(1rem,3vw,20px);
            line-height: clamp(17px,3vw,24px);
        }
    }
}
