.mobile-nav-toggle {
    border: none;
    background: none;

    .icon {
        font-size: 20px;
        color: var(--black);
        vertical-align: middle;
        margin-right: 8px;
    }


    @media (min-width: $lg) {
        & {
            display: none;
        }
    }
}
